*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #1b1616;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    height: 125px;
}

.navbar-nav{
    text-align: center;
}


.navlogo{
    margin-bottom: 12px;
}

.navlogo img{
    width: 150px ;
    height: 120px;
}

.footerimg img{
    width: 280px;
    height: 300px;

}


.ico{
    text-align: center;
    margin-right: 12px;
    margin-left: 12px;
}

.navwrite{
    margin-right: 12px;
    margin-left: 12px;
}

.nav-item:hover{
    background-color: indianred;
    border-radius: 10px;
}



/* Navbar codes end here....*/


.contents{
    min-height: 510px;
}

/* Footer Code starts from here.....*/

.footer_wrapper{
    align-items: flex-end;
}

h1{
    color: wheat;
}

.footwrite{
    text-decoration: none;
    color: wheat;
    
}

.footicons{
    font-size: 30px;
}

.last{
    color: tomato;
}


/*Register page codes start here.....*/

.regcon{
    padding-top: 20px;
}







/* Login Codes start from here..*/

.rowbg{
    margin-top: 5%;
    background-color: black;
}

.loginlog{
    text-align: center;
}


.loginlog img{
    margin-top: 5%;
    width: 50%;
}

.formbox{
    padding-left:3%;
    padding-right:3%;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.btn{
    background-color: rgb(44, 141, 197);
    width: 100%;
    align-items: center;
}
.frombuto{
    justify-content: center;
}

.welcome{
    color: blue;
    font-size: 25px;
}

.dont{
    color: #379683;
    font-size: 20px;
}

.signupregi{
    color: blue;
    text-decoration: none;
    font-size: 28px;
    padding-left: 3%;
}

.formlabel{
    color: #6132ee;
    font-size: 20px;
}

.f_swi{
    margin-left: 20px;
}

.labe{
    color: #6132ee;
    font-size: 20px;
}


.dontre{
    color: #379683;
    font-size: 18px;
}


.Formnames{
    display: flex;
    align-items: baseline;
}

.fname{
    margin-right: 10px;
}
.lname{
    margin-left: 10px;
}

.domatch{
    color: blanchedalmond;
    text-align: center;
}


.slidedes{
    background-color:black;
    opacity:.7;
    padding-bottom: 25px;
}

.Slidehead{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 50px;
    color: burlywood;
    font-family: cursive;
}

.Slidepara{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 22px;
    padding-bottom: 20px;
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.viewmore{
    border: none;
    width: 20%;
    color: black;
    background-color: darkgray;
    font-size: 18px;
    padding-top: 1.5%;
    text-align: center;
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
}

.viewmore:hover{
    color: lightgoldenrodyellow;
    background-color: indianred;
}

.arrow{
    font-size:20px;
    padding-left:5px;
    display: block;
}

.ordernow{
    margin-left: 50px;
    background-color: steelblue;
}
.orderarrow{
    padding-left: 10px;
}


.caroimg{
    min-height: auto;
    height: 800px;
}


.Items{
    border-radius: 15px ;
}

.row .menuall{
    padding-top: 30px;
    padding-bottom:30px;
}

.menuall img{
    width:100%;
    height: 50%;
    border-radius: 15px;
}

.itemheading{
    font-size:100%;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
    color: wheat;
}

.itemdes{
    font-size: 15px;
    padding-right: 10px ;
    padding-left: 10px;
    color:lavender;

}

.addtocart{
    display: flex;
    border-style: none;
    align-items: baseline;
    justify-content: center;
    background-color: black;
    color: #86C232;
    padding-top: 5%;
    border-radius: 15px;
    width: 100%;
    font-size: 18px;
}

.addtocart:hover{
    background:indianred;
    color: ivory;
}

.addalliconsp{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color:rgb(167, 248, 235);
}

.addall{
    display: flex;
    margin-left: 20%;
    font-size: 15px;
    align-items: baseline;

}

.addallicons{
    color: rgb(231, 218, 218);
}

.add{
    display: flex;
}

.minusplus{
    background: none;
    border: none;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    border-radius: 50%;
}

.minusplus:hover{
    background:indianred;
    color: ivory;
}

.food{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    padding-top: 10px;
    color: wheat;
}


.Reviewitems{
    margin-top: 10%;
    text-align: center;
}

.Reviewitems i{
    padding-top: 5%;
    font-size: 18px;
    color: tan;
}
.Reviewitems img{
    width: 30%;
    height:30%;
}

.Reviewitemsname{
    padding-top: 10px;
    font-size: 25px;
    color: #65CCB8;
}

.Reviewitemsdes{
    font-size: 25px;
    padding-bottom:25px;
    padding-right:20px ;
    padding-left: 20px;
    color: tomato;
}

.cheffall{
    display: flex;
    padding: 10px;
    border-radius: 15px;
}

.cheffdeatails{
    margin-left: 10px;
}
.cheffname{
    color: antiquewhite;
    text-align: right;
    font-size: 15px;
}

.cheffdes{
    font-size: 18px;
    color: coral;
}

.cheffall img{
    width:50%;
    height:80%;
    border-radius:50%;
}

.visitmenu{
    width: 100%;
    border: none;
    background: none;
    color: #86C232;
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
}

.visitmenu:hover{
    background-color: black;
}


/*Index page codes end here...*/



/* Chef's Exhibition Page Starts From here.....*/

.cheffownprof{
    display: flex;
    padding-top: 12px;
}


.cheffownprof2 img{
    width: 16%;
    height:90%;
    border-radius: 55%;
}


.cheffownprof2 {
    display: flex;
    padding-top: 12px;
}

.cheffownprof img{
    width: 18%;
    height:100%;
    border-radius: 55%;
}

.cheffproname{
    font-size: 35px;
    text-align: left;
    color:antiquewhite; 
    font-style: italic;
}

.addmore{
    border: none;
    width: 80%;
    float: right;
    text-align: center;
    border-radius: 20px;
    background-color: indianred;
    font-size: 15px;
}

.addmore:hover{
    background-color: black;
    color: #86C232;
}

.chefna{
    text-align: center;
    color: burlywood;
    font-size: 35px;
}


.delitem{
    border: none;
    width:20%;
    float: right;
    text-align: center;
    border-radius: 20px;
    background-color: indianred;
    font-size: 15px;
}

.delitem:hover{
    background-color: black;
    color: #86C232;
}

/* Chef's Exhibition Page ends here.....*/



.upload {
    width: 150px;
    position: relative;
    margin: 50px 220px auto auto;

  }
  
  .upload img {
    border-radius: 5%;
    border: 6px solid #eaeaea;
  }
  
  .upload .round {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00b4ff;
    width: 32px;
    height: 32px;
    line-height: 33px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
  }
  
  .upload .round input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
